<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link href="https://fonts.googleapis.com/css?family=Mystery+Quest" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="smallwrapper">
        <h1>MYSTERY WORD</h1>
      </div>
      {{#gameMode}}
      <div class="smallwrapper">
        <h2>Please choose a difficulty:</h2>
        <span>
          <form class="" action="/easy" method="post">
            <button class="mode" type="submit" name="button">Easy</button>
          </form>
        </span>
        <span>
          <form class="" action="/normal" method="post">
            <button class="mode" type="submit" name="button">Normal</button>
          </form>
        </span>
        <span>
          <form class="" action="/hard" method="post">
            <button class="mode" type="submit" name="button">Hard</button>
          </form>
        </span>
      </div>
      {{/gameMode}}
      {{^gameMode}}
      <div class="smallwrapper">
        <h3>You have {{counter}} guesses left.</h3>
        <p>
          {{#underscores}}
          {{.}}
          {{/underscores}}
        </p>
        <p>Letters guessed:
          <span>
            {{#guesses}}
              {{.}}
            {{/guesses}}
          </span>
        </p>
      </div>
      {{#youWin}}
        <h1>Congrats you won!</h1>
        <div class="smallwrapper">
          <p>Want to join the hall of fame? Enter your name and click submit below.</p>
          <form class="" action="/winners" method="post">
            <input type="text" name="username" value="" placeholder="Your Name Here:">
            <button type="submit" name="button">Submit</button>
          </form>
          <p>Skip hall of fame and just play again:</p>
          <form class="" action="/playagain" method="post">
            <button type="submit" name="button">Play again</button>
          </form>
        </div>
      {{/youWin}}
      {{#youLose}}
      <div class="smallwrapper">
        <p class="lost">You Lost! The final word is: {{#secretWord}}{{.}}{{/secretWord}}</p>
        <form class="" action="/playagain" method="post">
          <button type="submit" name="button">Play again</button>
        </form>
      </div>
      {{/youLose}}
      {{#play}}
      <div class="smallwrapper">
        <form class="" action="/" method="post">
          <input type="text" name="guess" value=""><button type="submit" name="button">Make a guess</button>
        </form>
      {{#errors}}
        <p style="color:red; font-weight:bold;">{{msg}}</p>
      {{/errors}}
      {{/play}}
      {{/gameMode}}
      </div>
    </div>
  </body>
</html>
