<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Winners</title>
    <link href="https://fonts.googleapis.com/css?family=Mystery+Quest" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="test">
      {{#winners}}
      <h2 class="winner">{{.}}</h1>
      {{/winners}}
      <form class="" action="/playagain" method="post">
        <button type="submit" name="button">Play again</button>
      </form>
    </div>
  </body>
</html>
